<!-- Modal -->
<div class="modal fade" id="DeletingModal" tabindex="-1" aria-labelledby="Deleting Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the branch?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>

                <a class="page-link" asp-controller="Branches" asp-action="DeleteBranch" asp-route-Id="@deleteingObj.Id" method="delete">Yes</a>
            </div>
        </div>
    </div>
</div>
